@charset "UTF8";

@media screen and (min-width: 920px) {

    #corpo {
        min-width: 900px;
        height: 580px;
    }

    #foto {
        background: hsl(30, 38%, 92%) url(../images/image-product-desktop.jpg) no-repeat;
        background-size: cover;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        float: left;
        width: 50%;
        height: 100%;
    }

    .conteudo {
        float: right;
        min-width: 400px;
        min-height: 100px;
        padding: 20px;
    }
    

    h1 {
        margin-bottom: 10px;
        font-size: .9em;
        margin-top: 20px;
    }

    .destaque {
        width: 300px;
        font-size: 2.5em;
        margin-bottom: 25px;
        letter-spacing: 3px;
        line-height: 1em;
    }

    .texto {
        margin-bottom: 30px;
        font-size: 1.2em;
        width: 330px;
    }

    #quantidade {
        margin-bottom: 34px;
    }

    .promoção {
        font-size: 3em;
    }

    .preco {
        font-size: 1.1em;
    }

    button {
        width: 313px;
        padding: 18px;
    }

    button:hover {
        background-color: rgb(27, 58, 47);
    }

    .adicionar {
        font-size: 1.4em;
        padding-left: 10px;
    }

}