@charset "UTF8";

@media screen and (min-width: 680px) {

    #corpo {
        min-width: 644px;
        height: 484px;
    }

    #foto {
        background: hsl(30, 38%, 92%) url(../images/image-product-desktop.jpg) no-repeat;
        background-size: cover;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        float: left;
        width: 50%;
        height: 100%;
    }

    .conteudo {
        float: right;
        width: 309px;
        height: 100px;
        padding: 20px;
    }
    

    h1 {
        margin-bottom: 8px;
        font-size: .8em;
        margin-top: 16px;
    }

    .destaque {
        width: 275px;
        margin-bottom: 25px;
        letter-spacing: 3px;
        line-height: 1em;
    }

    .texto {
        margin-bottom: 30px;
        width: 249px;
    }

    #quantidade {
        margin-bottom: 34px;
    }

    .promoção {
        font-size: 2.3em;
    }

    .preco {
        font-size: .8em;
    }

    button {
        width: 253px;
        padding: 16px;
    }

    button:hover {
        background-color: rgb(27, 58, 47);
    }

    .adicionar {
        font-size: 1.1em;
    }

}